@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body {
    font-family: 'Playfair Display' ;
    font-weight: 400;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.img {
    width:420px ;
height:280px ;

}
.oilo {
    width:419px ;
    height:280px ; 
}
.you {
    width:71px ;

height:19px ;
background-color: #03A9F4;

}
.my {
    width:89px ;

    height:19px ; 
    background-color: #7D7D7D ;  
}
.io {
    width:44px ;

    height:19px ; 
    background-color:  #7D7D7D;    
}
.we {
    width:52px ;

    height:19px ;  
    background-color:  #7D7D7D;   
}
.ee {
width:64px ;    
height:16px ;
}
.oo {
    width:86px ;    
    height:16px ;
    }
.pp {
    width:408px ;    
height:40px ;
}
.ppp {
    width:379px ;    
height:40px ;
}
.yy {
    width:225px ;    
height:40px ;
}
.yyy {
    width:324px ;    
height:40px ;
}
.uu {
    width:321px ;    
height:40px ;
}
.uuu {
    width:226px ;    
height:40px ;
}
.osnova {
   width:420px ;
height:76px ;


}
.main {
    background-color:#626262 ;
}